<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule    (.*) web/$1 [L]
   RewriteRule    ^$ web/    [L]
</IfModule>